html,
body {
 height: 100%;
 position: relative;
}

.navbar {
  background-color: white;
}

.navbar-nav > .active {
  color: white;
  padding: 5px;
  background-color: #8B044A;
  margin: auto;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #AB95A0;
  text-decoration: none;
}


.nav-link {
  color: black;
}

.nav-link-selected {
  color: white;
}

.nav-link-selected:hover {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #8B044A;
  text-decoration: none;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  line-height: 60px;
  background-color: #8B044A;
}

.p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.footer__nav {
  margin: auto;
  padding-top: 10px;
  height: 50px;
  width: 50%;
  text-align: center;
}

.footer__nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #AB95A0;
}

.footer__nav-item:hover {
  color: white;
  text-decoration: none;
}

.footer__nav-social {
  padding-top: 15px;
  margin: auto;
  height: 50px;
  width: 50%;
  text-align: center;
  color: white;
}

.footer__social-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #AB95A0;
}

.footer__social-item:hover {
  color: white;
  text-decoration: none;
}

.footer__p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  text-align: center;
  font-size: 14px;
  color: #AB95A0;
}

.cover-image {
  position: relative;
  margin-top: 0px;
}

.cover-balloons {
  margin-top: 50px;
  height: 140px;
}

.about {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 4%;
  min-width: 300px;
  max-width: 480px;
  font-size: 14px;
}

.important-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

.about-image {
  padding-left: 50%;
  padding-top: 17%;
}

.name1 {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 6%;
  padding-left: 620px;
  padding-top: 120px;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #333333;
}

.name2 {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 6%;
  padding-left: 790px;
  padding-top: 80px;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #333333;
}

.album-cover {
  position: absolute;
  display: inline-block;
  height: 160px;
  margin: 0px;
  text-align: center;
  border-radius: 10px;
  transition: box-shadow .3s;
}

.album-cover:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

.album-cover-image {
  display: inline-block;
  height: 160px;
  margin: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.album-info {
  position: absolute;
  display: inline-block;
  max-width: 800px;
  font-size: 16px;
  line-height: 24px;
}

.album1 {
  position: absolute;
  display: inline-block;
  width: 55%;
  text-align: left;
}

.hr {
  margin-top: 85%;
  margin-bottom: 0;
}

.album2 {
  position: absolute;
  margin-top: 5%;
  display: inline-block;
  width: 55%;
  text-align: left;
}

.table {
  position: absolute;
  margin-top: 18%;
  width: 100%;
  text-align: center;
}

.album-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.discrography {
  padding-left: 25%;
}

.clearfix {
  overflow: auto;
}

.padding-top {
  padding-top: 40px;
}

.main-container-discography {
  min-height: 230vh; /* will cover the 230% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.container2 {
  display: block;
}

.main-container-media {
  min-height: 150vh; /* will cover the 150% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.column {
  -ms-flex: 25%; /* IE10 */
  max-width: 50%;
}

.img-gallery {
  display: inline-block;
  width: 60%;
  margin: 5px;
  padding-bottom: 5%;
}

.img-gallery-item {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: box-shadow .3s;
}

.img-gallery-item:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

.column {
  padding-left: 15px;
}

.video-gallery {
  display: inline-block;
  position: absolute;
  width: 30%;
  right: 0;
  margin: 5px;
}

.video-gallery-item {
  padding-bottom: 15px;
}

.vl {
  position: absolute;
  margin-top: 100px;
  display: inline-block;
  width: 6%;
  border-right: 1px solid #e2e2e2;
  height: 145vh;
}
